<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.client.mapper.BlackListMapper">
    <resultMap id="BaseResultMap" type="com.jmu.client.entity.BlackList">
        <!--@mbg.generated-->
        <!--@Table sys_black_list-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="leave_day" jdbcType="INTEGER" property="leaveDay"/>
        <result column="op_id" jdbcType="BIGINT" property="opId"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, `type`, leave_day, op_id, detail, create_time, mofify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_black_list
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from sys_black_list
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jmu.client.entity.BlackList"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_black_list (user_id, score, leave_day,
        op_id, detail, create_time)
        values (#{userId,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}, #{leaveDay,jdbcType=TINYINT},
        #{opId,jdbcType=BIGINT}, #{detail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jmu.client.entity.BlackList"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_black_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="leaveDay != null">
                leave_day,
            </if>
            <if test="opId != null">
                op_id,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="leaveDay != null">
                #{leaveDay,jdbcType=INTEGER},
            </if>
            <if test="opId != null">
                #{opId,jdbcType=BIGINT},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.client.entity.BlackList">
        <!--@mbg.generated-->
        update sys_black_list
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="leaveDay != null">
                leave_day = #{leaveDay,jdbcType=INTEGER},
            </if>
            <if test="opId != null">
                op_id = #{opId,jdbcType=BIGINT},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mofifyTime != null">
                mofify_time = #{mofifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.client.entity.BlackList">
        <!--@mbg.generated-->
        update sys_black_list
        set user_id = #{userId,jdbcType=BIGINT},
        `type` = #{type,jdbcType=VARCHAR},
        leave_day = #{leaveDay,jdbcType=INTEGER},
        op_id = #{opId,jdbcType=BIGINT},
        detail = #{detail,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        mofify_time = #{mofifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>