<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.client.mapper.RoomMapper">
    <resultMap id="BaseResultMap" type="com.jmu.client.entity.Room">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="room_code" jdbcType="VARCHAR" property="roomCode"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="building" jdbcType="VARCHAR" property="building"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="floor" jdbcType="VARCHAR" property="floor"/>
        <result column="electricity_bill" jdbcType="DECIMAL" property="electricityBill"/>
        <result column="water_bill" jdbcType="DECIMAL" property="waterBill"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, room_code, area, building, unit, `floor`, electricity_bill, water_bill, create_time,
        modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_room
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_room
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jmu.client.entity.Room"
            useGeneratedKeys="true">
        insert into sys_room (room_code, area, building,
        unit, `floor`, electricity_bill,
        water_bill, create_time, modify_time
        )
        values (#{roomCode,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR},
        #{unit,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, #{electricityBill,jdbcType=DECIMAL},
        #{waterBill,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jmu.client.entity.Room"
            useGeneratedKeys="true">
        insert into sys_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomCode != null">
                room_code,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="building != null">
                building,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="floor != null">
                `floor`,
            </if>
            <if test="electricityBill != null">
                electricity_bill,
            </if>
            <if test="waterBill != null">
                water_bill,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomCode != null">
                #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="building != null">
                #{building,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=VARCHAR},
            </if>
            <if test="electricityBill != null">
                #{electricityBill,jdbcType=DECIMAL},
            </if>
            <if test="waterBill != null">
                #{waterBill,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.client.entity.Room">
        update sys_room
        <set>
            <if test="roomCode != null">
                room_code = #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="building != null">
                building = #{building,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                `floor` = #{floor,jdbcType=VARCHAR},
            </if>
            <if test="electricityBill != null">
                electricity_bill = #{electricityBill,jdbcType=DECIMAL},
            </if>
            <if test="waterBill != null">
                water_bill = #{waterBill,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.client.entity.Room">
        update sys_room
        set room_code = #{roomCode,jdbcType=VARCHAR},
        area = #{area,jdbcType=VARCHAR},
        building = #{building,jdbcType=VARCHAR},
        unit = #{unit,jdbcType=VARCHAR},
        `floor` = #{floor,jdbcType=VARCHAR},
        electricity_bill = #{electricityBill,jdbcType=DECIMAL},
        water_bill = #{waterBill,jdbcType=DECIMAL},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>