<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.server.mapper.ArticleExtMapper">
    <resultMap id="BaseResultMap" type="com.jmu.server.entity.ArticleExt">
        <!--@mbg.generated-->
        <!--@Table tb_article_ext-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, article_id, state, `type`, resource_url, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_article_ext
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from tb_article_ext
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jmu.server.entity.ArticleExt"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_article_ext (article_id, state, `type`,
        resource_url, create_time, modify_time
        )
        values (#{articleId,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{type,jdbcType=TINYINT},
        #{resourceUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jmu.server.entity.ArticleExt"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_article_ext
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="resourceUrl != null">
                resource_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="resourceUrl != null">
                #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.server.entity.ArticleExt">
        <!--@mbg.generated-->
        update tb_article_ext
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                is_delete = #{state,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="resourceUrl != null">
                resource_url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.server.entity.ArticleExt">
        <!--@mbg.generated-->
        update tb_article_ext
        set article_id = #{articleId,jdbcType=BIGINT},
        state = #{state,jdbcType=TINYINT},
        `type` = #{type,jdbcType=TINYINT},
        resource_url = #{resourceUrl,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into tb_article_ext (article_id, state, `type`,
        resource_url, create_time, modify_time
        )
        values
        <foreach collection="articleExts" item="item" index="index" separator=",">
            (
            #{item.articleId,jdbcType=BIGINT}, #{item.state,jdbcType=TINYINT}, #{item.type,jdbcType=TINYINT},
            #{item.resourceUrl,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.modifyTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="updateByArticleIdSelective">
        update tb_article_ext
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="resourceUrl != null">
                resource_url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where article_id = #{articleId,jdbcType=BIGINT}
    </update>
</mapper>