<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.server.mapper.ArticleReviewMapper">
    <resultMap id="BaseResultMap" type="com.jmu.server.entity.ArticleReview">
        <!--@mbg.generated-->
        <!--@Table sys_article_review-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="op_code" jdbcType="VARCHAR" property="opCode"/>
        <result column="op_name" jdbcType="VARCHAR" property="opName"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, article_id, op_code, op_name, user_id, `status`, `result`, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_article_review
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from sys_article_review
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jmu.server.entity.ArticleReview"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_article_review (article_id, op_code, op_name,
        user_id, `status`, `result`,
        create_time, modify_time)
        values (#{articleId,jdbcType=BIGINT}, #{opCode,jdbcType=VARCHAR}, #{opName,jdbcType=VARCHAR},
        #{userId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{result,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.jmu.server.entity.ArticleReview" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_article_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="opCode != null">
                op_code,
            </if>
            <if test="opName != null">
                op_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="result != null">
                `result`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="opCode != null">
                #{opCode,jdbcType=VARCHAR},
            </if>
            <if test="opName != null">
                #{opName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.server.entity.ArticleReview">
        update sys_article_review
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="opCode != null">
                op_code = #{opCode,jdbcType=VARCHAR},
            </if>
            <if test="opName != null">
                op_name = #{opName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="result != null">
                `result` = #{result,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.server.entity.ArticleReview">
        <!--@mbg.generated-->
        update sys_article_review
        set article_id = #{articleId,jdbcType=BIGINT},
        op_code = #{opCode,jdbcType=VARCHAR},
        op_name = #{opName,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        `status` = #{status,jdbcType=TINYINT},
        `result` = #{result,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>