<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.server.mapper.FavoriteMapper">
    <resultMap id="BaseResultMap" type="com.jmu.server.entity.Favorite">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <resultMap id="ArticleMap" type="com.jmu.server.vo.ArticleVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="icon" property="icon"/>
        <result column="signature" property="signature"/>
        <result column="nick" property="nick"/>
        <result column="userId" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="view_num" jdbcType="BIGINT" property="viewNum"/>
        <result column="favory_num" jdbcType="BIGINT" property="favorityNum"/>
        <result column="like_num" jdbcType="BIGINT" property="likeNum"/>
        <result column="share_num" jdbcType="BIGINT" property="shareNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="content" property="content"/>
        <collection property="articleExts" ofType="com.jmu.server.vo.ArticleExtVO" column="id"
                    select="com.jmu.server.module.article.mapper.ArticleExtExtMapper.listByArticleId"/>
    </resultMap>


    <sql id="articleVO_List">
        us.icon as icon, us.signature as signature, us.nickname as nick, info.id as id, info.user_id as userId,
        info.title, info.view_num , info.favory_num, info.like_num, info.share_num,info.create_time, cont.content
    </sql>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, article_id, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_favorite
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from tb_favorite
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jmu.server.entity.Favorite"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_favorite (user_id, article_id, create_time)
        values (#{userId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jmu.server.entity.Favorite"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jmu.server.entity.Favorite">
        <!--@mbg.generated-->
        update tb_favorite
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jmu.server.entity.Favorite">
        <!--@mbg.generated-->
        update tb_favorite
        set user_id = #{userId,jdbcType=BIGINT},
        article_id = #{articleId,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listFavoriteArticle" resultMap="ArticleMap">
        select
        <include refid="articleVO_List"></include>
        from tb_favorite fa
        left join tb_article_info info on fa.article_id = info.id
        left join tb_article_content cont on info.id = cont.article_id
        left join tb_user us on info.user_id = us.id
        where info.state = 0
        and fa.user_id = #{userId,jdbcType=BIGINT}
    </select>

    <delete id="cancelFavoriteArticle">
        delete from tb_favorite
        where user_id = #{userId,jdbcType=BIGINT}
        and article_id = #{articleId,jdbcType=BIGINT}
    </delete>

    <select id="isFavorite" resultType="int">
        select count(*)
        from tb_favorite
        where user_id = #{userId}
        and article_id = #{articleId}
    </select>

</mapper>